.container__info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, auto);
    padding: 15px;
}

.r-one{
    grid-row: 1;
}

.c-one{
    grid-column: 1/3;
}

.c-two{
    grid-column: 3/5;
}



.info__data{
    font: 15px 'Roboto', sans-serif;
}