.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.container__form{
    text-align: center;
    width: 70%;
    margin: 15% auto auto 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    grid-column: 3/5;
    grid-row: 1;
    border: 1px red solid;
}

.form__scotiaLogo{
    display: block;
    width: 50%;
    margin: 40px auto auto auto;
}

.form__loginTitle{
    font: 24px 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.form__loginTitle--red{
    color: red;
}

.form__textLogin{
    width: 80%;
    margin: auto;
    text-align: center;
    font: 13px 'Roboto', sans-serif;
}

.form__textLogin--Incorrect{
    position: absolute;
    color: red;
    font: 10px 'Roboto', sans-serif;
    top: -27px;
    left: 10px;
}

.form{
    text-align: center;
    position: relative;
}
.form__inputs{
    margin: auto;
    margin-top: 50px;
}

.inputs{
    width: 70%;
    border: none;
    border-bottom: 1px black solid;
}

.inputs__icon{
    width: 15px;
    height: 15px;
    margin: 0px 8px 0px 8px;
}

.form__button{
    border: none;
    border-radius: 5px;
    width: 70%;
    background-color: #E3A224;
    margin-top: 50px;
    margin-bottom: 60px;
}

.button__text{
    color: #FFFFFF;
    font-weight: bold !important;
    font: 1rem 'Roboto', sans-serif;
    margin: 5px;
}